@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --primaryTextColor: #232e35; /* Untuk title atau judul */
  --secondaryTextColor: #656d72; /* Untuk text biasa seperti paragraph contohnya */

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9; /* untuk line di pre-title */

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;

  --primaryIconColor: #7e74f1;
  --primaryIconColorHover: #5d51e8;

  --sectionPadding: 6rem 0;

  --itemBorderRadius: 0.7rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color:black;
}

p {
  font-size: 1rem; /* 16 px */
  line-height: 1.9rem; /*30.4 px */
}

p,
span,
label,
input,
textarea,
li {
  color:black;
}

a {
  text-decoration: none;
}

/* End Preparation */

.main-container{
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}
.grid-3 {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; use this first, use code below when its time for explaining responsive design part */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* --- Logo and Navigation Menu --- */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: var(--primaryTextColor);
}

/* Navigation Menu */
nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color:black;
}
li:hover{
  background-color: #c1c9ce;
  transition: .5s ease-in-out;
  transition-delay: .2s; 
  border-radius: 8px;
}
#Saya {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.Saya-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.Saya-name span {
  color: var(--primaryIconColor) !important;
}

.Saya-right img {
  width: 50%;
  border-radius: 5%;
  
}
.Saya-right {
  display: flex;
  justify-content: center;
  
}
/* tampilan atas */
#Biodata {
background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.Biodata .pre-title {
  margin: 0 auto;
}

.Biodata-title {
  text-align: center;
}

.Biodata {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.Biodata h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}
.biodata {
	width: 50%;
	margin: 40px auto;
	background-color: #f6f2ed;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 600px;
    margin: 20px auto;
}
/* biodata */
.profile {
    flex: 0 0 150px;
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.content {
    padding: 20px;
}

.text {
    margin: 10px 0;
}

/* matakuliah */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

thead {
    background-color:#524e5b;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e0e0e0;
}
/* Hobi */
.hobi {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.project-card {
   background: white;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    margin: 15px 0;
}

.project-card p {
    margin: 10px 0;
    font-size: 0.9em;
}

.project-card button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project-card button:hover {
    background-color: #0056b3;
}
